@theme {
	--color-primary: #ffb7c5;
	--color-secondary: #d4a5b1;
	--color-brand-secondary: #ffc8d4;
	--color-bg: #fff5f7;
	--color-border: #ffe8ed;
	--color-brand: #ff9fb3;
	--color-card: #ffffffcc;
	--color-article: #ffffffee;

	--font-averia: 'Averia Gruesa Libre', sans-serif;
	--font-sans:
		'PingFang SC', -apple-system, system-ui, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Noto Sans', sans-serif, BlinkMacSystemFont, 'Helvetica Neue',
		'Hiragino Sans GB', 'Microsoft YaHei', Arial;
}
